In [1]:
import pandas as pd

In [2]:
!ls datos

2021-1.xlsx 2021-3.xlsx 2021-5.xlsx 2021-7.xlsx
2021-2.xlsx 2021-4.xlsx 2021-6.xlsx

In [33]:
def load_data():
    archivos = !ls datos
    datafs = {}
    for file in archivos:
        datafs[file] = pd.read_excel(f'datos/{file}', skiprows=3)

    df = pd.concat(datafs)
    df = df.reset_index(drop=True)
    df.columns = [m.lower().replace(' ', '_') for m in df.columns]
    df.drop(columns=['hora_25', 'total'], inplace=True)
    df.dropna(how='any', inplace=True)
    df = df.melt(id_vars=['central', 'llave', 'grupo_reporte', 'tipo', 'subtipo', 'fecha'],
       value_vars=[f'hora_{h}' for h in range(1,25)])

    df['variable'] = df['variable'].str.replace('hora_','')
    df.rename(columns={'variable': 'hora'}, inplace=True)
    return df

In [34]:
df = load_data()

In [35]:
df

,central,llave,grupo_reporte,tipo,subtipo,fecha,hora,value
0,GEO CERRO PABELLON,G1A,Geo. Cerro Pabellón,Geotérmica,Geotérmica,2021-01-01,1,17.4843
1,GEO CERRO PABELLON,G1A,Geo. Cerro Pabellón,Geotérmica,Geotérmica,2021-01-02,1,19.2687
2,GEO CERRO PABELLON,G1A,Geo. Cerro Pabellón,Geotérmica,Geotérmica,2021-01-03,1,20.4188
3,GEO CERRO PABELLON,G1A,Geo. Cerro Pabellón,Geotérmica,Geotérmica,2021-01-04,1,21.0686
4,GEO CERRO PABELLON,G1A,Geo. Cerro Pabellón,Geotérmica,Geotérmica,2021-01-05,1,20.2750
...,...,...,...,...,...,...,...,...
3376987,TER YUNGAY,Yungay 4,Yungay 4,Térmica,Diésel,2021-07-03,24,0.0000
3376988,TER YUNGAY,Yungay 4,Yungay 4,Térmica,Diésel,2021-07-04,24,0.0000
3376989,TER YUNGAY,Yungay 4,Yungay 4,Térmica,Diésel,2021-07-05,24,0.0000
3376990,TER YUNGAY,Yungay 4,Yungay 4,Térmica,Diésel,2021-07-06,24,0.0000
3376991,TER YUNGAY,Yungay 4,Yungay 4,Térmica,Diésel,2021-07-07,24,0.0000

In [36]:
df.tipo.unique()

array(['Geotérmica', 'Hidráulica', 'Eólica', 'Solar', 'Térmica'],
      dtype=object)